.sidebar {
    width: min(30%, 280px);
    height: 100%;
    display: none;
    padding-top: 10px;
    padding-left: 16px;
    border-right: 2px solid rgb(197, 195, 195);
    padding-bottom: 2px;
    /* background-color: red; */

}


@media screen and (min-width:600px) {
    .sidebar {
        display: flex;
        flex-direction: column;
    }

}

.sidebar_logo_search {
    list-style: none;
    margin-bottom: 12px;
    padding: 4px;

}

.sidebar_logo_search li {
    margin-bottom: 10px;
    flex-shrink: 2;
}

.searchbar {
    border-radius: 30px;
    padding: 8px;
    width: 100%;
    background: #a19a9a90;
    /* outline: none; */
    border: none;

}

.sidebar-menu {
    /* background-color: aqua; */
    height: auto;
    padding: 0px;
}

.sidebar-menu li {
    font-weight: 14px;
    margin-bottom: 16px;
    flex: 0 1 auto;
    height: 24px;
    list-style: none;
    margin: 16px;
    padding: 4px;

}

.sidebar-menu li .navLink-item {

    padding-left: 8px;
    font-size: 12px;
    color: #2b2a2a;
    font-weight: 600;
}

.sidebar-menu :not(.active) :hover {
    background-color: #c1e3da !important;
    color: #000;
    border-radius: 100px;
    border: none;

}


.sidebar-menu li .active {
    background-color: #c1e3da !important;
    /* border: 1px solid gray; */
    padding: 8px;
    margin-left: 0px;
    background-color: rgb(202, 213, 251);
    color: #000 !important;
    font-weight: bold !important;
    border-radius: 100px 10px 10px 100px;
    border: none;
}


.navLink-item {
    display: flex;
    align-items: center;
    flex: 0 1 auto;
}

.user-avatar {
    width: 45px;
    height: 45px;
    border-radius: 100%;
}

.user-name {
    font-size: 12px;
    padding: 0px;
    margin: 0px;
}

.user-store-name {
    font-size: 10px;
    font-style: oblique;
    margin: 0px;
    padding: 0px;
}